* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: "Work Sans", sans-serif;
    background-color: #f5f5f5;
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

img {
    width: 100px;
}

h1 {
    font-family: "Fjalla One", sans-serif;
}

form {
    padding: 15px;
    border-radius: 10px;
    background-color: #FFFFFF;
}

fieldset {
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

legend {
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}

p {
    display: block;
    margin-bottom: 12px;
}

label{
    display: inline-block;
    margin-bottom: 12px;
}

input, select, textarea {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

textarea {
    min-height: 100px;
}

input[type="radio"],[type="checkbox"] {
    width: auto;
}

input[type="color"] {
    padding: 0 5px;
    width: 40px;
}

input[type="tel"] {
    margin-bottom: 0;
}

input[type="file"] {
    margin-bottom: 0;
}

small {
    margin-bottom: 20px;
    display: inline-block;
}

input:invalid, select:invalid, textarea:invalid {
    border-color: red;
}

input:valid, select:valid, textarea:valid {
    border-color: green;
}

button {
    width: 100px;
    height: 30px;
    background-color: #FFFFFF;
    font-family: "Work Sans", sans-serif;
    margin: 15px 10px 0 0;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover{
    background-color: green;
    color: #FFFFFF;
}

button[type="reset"]:hover{
    background-color: orangered;
    color: #FFFFFF;
}
